<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="demo.WELCOME">{{ mainTitle}}</h1>
            <span class="mainDescription">Verificacion Biometrica &amp; Biografica </span>
        </div>		
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div id="data_area" ng-controller="demoCtrl">
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">Lectura de DPI</h2>
                        <p class="text-small">
                            Carga la informacion almacenada en el DPI
                        </p>
                        <p class="links cl-effect-1">
                            <a href="javascript:;" ng-click="opcion = 0; scrollTo('opcion0');">
                                <bold>Mostrar</bold>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--div class="col-sm-4">
                <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">Verificacion Huella con DPI</h2>
                        <p class="text-small">
                            Carga la informacion almacenada en el DPI
                        </p>
                        <p class="links cl-effect-1">
                            <a href="javascript:;" ng-click="opcion = 1; scrollTo('opcion1');">
                                <bold>Mostrar</bold>
                            </a>
                        </p>
                    </div>
                </div>
            </div-->
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">Verificacion Huella En Linea</h2>
                        <p class="text-small">
                            Verifica que la huella corresponde al CUI ingresado.
                        </p>
                        <p class="cl-effect-1">
                            <a href="javascript:;" ng-click="opcion = 2; scrollTo('opcion2');">
                                Mostrar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">Busqueda Electronica por CUI</h2>
                        <p class="text-small">
                            Busca los datos de una persona en base al CUI ingresado
                        </p>
                        <p class="links cl-effect-1">
                            <a href="javascript:;" ng-click="opcion = 3; scrollTo('opcion3');">
                                Mostrar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: FEATURED BOX LINKS -->
    <!-- start: FIRST SECTION -->

    <!-- end: FIRST SECTION -->
    <!-- start: SECOND SECTION -->
    <div   id="opcion0" ng-show="opcion === 0" class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="panel panel-white no-radius">
                <div class="panel-body">
                    <div class="partition-light-grey padding-15 text-center margin-bottom-20">
                        <h4 class="no-margin">Lectura de DPI</h4>
                        <span class="text-light">Inserte un DPI en el lector de tarjetas</span>
                    </div>
                    <div class="text-left" style="margin-bottom: 5px;">
                        <a ng-disabled="busyReadDPI" class="btn btn-info btn-wide" href="#" ng-click="leerDPI()">
                            Leer DPI &nbsp;
                            <i class="ti-arrow-circle-right"></i>
                        </a>
                        <a ng-disabled="busyReadDPI" class="btn btn-danger btn-wide" href="#" ng-click="automatic = false">
                            Cerrar &nbsp;                            
                        </a>
                    </div>
                    <tabset ng-show="dpiReady" class="tabbable">
                        <!-- start: TAB OVERVIEW -->
                        <tab heading="Resumen">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="user-left">
                                        <div class="center">
                                            <h4>{{persona.nombres}} {{persona.apellidos}}</h4>
                                            <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                                <div class="user-image">
                                                    <div class="thumbnail">
                                                        <img data-ng-src="data:image/png;base64,{{persona.foto}}" alt="" ng-if="!noImage">
                                                        <img src="assets/images/default-user.png" alt="" ng-if="noImage">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Datos Almacenados en DPI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CUI</td>
                                                    <td>
                                                        <a href="#">
                                                            {{persona.cui}}
                                                        </a></td>
                                                </tr>	
                                                <tr>
                                                    <td>Nombres</td>
                                                    <td>
                                                        <a href="#">
                                                            {{persona.nombres}}
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>Apellidos:</td>
                                                    <td>
                                                        <a href="#">
                                                            {{persona.apellidos}}
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>Pais Nacimiento:</td>
                                                    <td>{{persona.fechaNacimiento}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Pais Nacimiento:</td>
                                                    <td>{{persona.paisNacimiento}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Nacionalidad</td>
                                                    <td>
                                                        <a href="#">
                                                            {{persona.nacionalidad}}
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

    </div>
    <!-- end: SECOND SECTION -->
    <!-- start: THIRD SECTION -->
    <div id="opcion1" ng-show="opcion === 1" class="container-fluid container-fullw bg-white">
        <div class="row">
            <div >
                <div class="panel panel-white no-radius">
                    <div class="panel-body">
                        <div class="partition-light-grey padding-15 text-center margin-bottom-20">
                            <h4 class="no-margin">Verificacion Huella de DPI</h4>
                            <span class="text-light">Debe insertar un DPI y proporcinar huella de PULGAR DERECHO</span>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Opciones</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <!--                                        <div class="form-group">
                                                                                    <label for="cui">
                                                                                        No. de CUI
                                                                                    </label>
                                                                                    <input type="number" ng-model="cui1" class="form-control" id="cui" placeholder="Ingrese numero de CUI">
                                                                                </div>-->
                                        <button type="button" ng-disabled="busyMatching" ng-click="leerDPI_Huella()" class="btn btn-wide btn-primary">
                                            Leer Huellas
                                        </button>
                                        <a class="btn btn-danger btn-wide" href="#" ng-click="opcion = 6;">
                                            Cerrar &nbsp;                            
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="over-title">Alertas</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                                        {{alert.msg}}
                                    </alert>
                                    <button class='btn btn-primary btn-o' ng-click="closeAllAlert()">
                                        Limpiar
                                    </button>
                                </div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/ng-template" id="huellasModal.html">
        <div class="modal-header">
        <h3 class="modal-title">Vista Previa Huellas</h3>
        </div>
        <div class="modal-body">
        <div class="row">
             <div class="col-md-4">
                            <h5 class="over-title">Huella RENAP</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                  <div class="user-image">
                                      <div class="thumbnail">
                                        <img data-ng-src="data:image/png;base64,{{huellas.h1}}" alt="" ng-if="!noH1">
                                      </div>
                                  </div>    
                                </div>
                            </div>
             </div>     
             <div class="col-md-4">
                            <h5 class="over-title">Huella Lector</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="user-image">
                                      <div class="thumbnail">
                                        <img data-ng-src="data:image/png;base64,{{huellas.h2}}" alt="" ng-if="!noH2">
                                      </div>
                                    </div>   
                                </div>
                            </div>
             </div>
        </div>                
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Comparar</button>
        <button class="btn btn-primary btn-o" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
    <!-- end: THIRD SECTION -->
    <!-- start: THIRD SECTION -->
    <div  id="opcion2" ng-show="opcion === 2" class="container-fluid container-fullw bg-white">
        <div class="row">
            <div >
                <div class="panel panel-white no-radius">
                    <div class="panel-body">
                        <div class="partition-light-grey padding-15 text-center margin-bottom-20">
                            <h4 class="no-margin">Busqueda Electrónica por Huella</h4>
                            <span class="text-light">Debe proporcionar un numero de CUI y la huella del pulgar derecho</span>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Datos para verificacion</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="cui">
                                                No. de CUI
                                            </label>
                                            <input type="number" ng-model="cui1" class="form-control" id="cui" placeholder="Ingrese numero de CUI">
                                        </div>
                                        <button ng-disabled="busyMatching" type="button" ng-click="buscaHuellaDPI()" class="btn btn-wide btn-primary">
                                            Consultar
                                        </button>
                                        <a class="btn btn-danger btn-wide" href="#" ng-click="opcion=99;">
                                            Cerrar &nbsp;                            
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="over-title">Alertas</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                                        {{alert.msg}}
                                    </alert>
                                    <button class='btn btn-primary btn-o' ng-click="closeAllAlert()">
                                        Limpiar
                                    </button>
                                </div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/ng-template" id="huellasModal2.html">
        <div class="modal-header">
        <h3 class="modal-title">Vista Previa Huellas</h3>
        </div>
        <div class="modal-body">
        <div class="row">
             <div class="col-md-4">
                            <h5 class="over-title">Huella RENAP</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                  <div class="user-image">
                                      <div class="thumbnail">
                                        <img data-ng-src="data:image/png;base64,{{huellas.h1}}" alt="" ng-if="!noH1">
                                      </div>
                                  </div>    
                                </div>
                            </div>
             </div>     
             <div class="col-md-4">
                            <h5 class="over-title">Huella Lector</h5>
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="user-image">
                                      <div class="thumbnail">
                                        <img data-ng-src="data:image/png;base64,{{huellas.h2}}" alt="" ng-if="!noH2">
                                      </div>
                                    </div>   
                                </div>
                            </div>
             </div>
        </div>                
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Comparar</button>
        <button class="btn btn-primary btn-o" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
    <!-- end: THIRD SECTION -->
    <!-- start: FOURTH SECTION -->
    <div  id="opcion3" ng-show="opcion === 3" class="container-fluid container-fullw bg-white">
        <div class="row">
            <div >
                <div class="panel panel-white no-radius">
                    <div class="panel-body">
                        <div class="partition-light-grey padding-15 text-center margin-bottom-20">
                            <h4 class="no-margin">Busqueda Electrónica por CUI</h4>
                            <span class="text-light">Debe proporcionar un numero de CUI válido</span>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Datos para verificacion</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="cui">
                                                No. de CUI
                                            </label>
                                            <input type="number" ng-model="cui2" class="form-control" id="cui" placeholder="Ingrese numero de CUI">
                                        </div>
                                        <button ng-disabled="busySearching" type="button" ng-click="buscarOnline()" class="btn btn-wide btn-primary">
                                            Consultar
                                        </button>
                                        <a ng-disabled="busySearching" class="btn btn-danger btn-wide" href="#" ng-click="manual = false">
                                            Cerrar &nbsp;                            
                                        </a>
                                        <br/>
                                    </form>
                                    <tabset ng-show="persona_rnp.hit" class="tabbable">
                                        <!-- start: TAB OVERVIEW -->
                                        <tab heading="Resumen">
                                            <div class="row">
                                                <div >
                                                    <div class="user-left">
                                                        <div class="center">
                                                            <h4>{{persona_rnp.primerNombre}} {{persona_rnp.primerApellido}}</h4>
                                                            <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                                                <div class="user-image">
                                                                    <div class="thumbnail">
                                                                        <img data-ng-src="data:image/png;base64,{{persona_rnp.foto}}" alt="" ng-if="!noImage">
                                                                        <img src="assets/images/default-user.png" alt="" ng-if="noImage">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>

                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="3">Informacion -RENAP-</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>CUI</td>
                                                                    <td>
                                                                        <a href="#">
                                                                            {{persona_rnp.cui}}
                                                                        </a></td>
                                                                </tr>	
                                                                <tr>
                                                                    <td>Nombres</td>
                                                                    <td>
                                                                        <a href="#">
                                                                            {{persona_rnp.primerNombre}} {{persona_rnp.segundoNombre}} 
                                                                        </a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Apellidos:</td>
                                                                    <td>
                                                                        <a href="#">
                                                                            {{persona_rnp.primerApellido}} {{persona_rnp.segundoApellido}}
                                                                        </a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Pais Nacimiento:</td>
                                                                    <td>{{persona_rnp.paisNacimiento}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Nacionalidad</td>
                                                                    <td>
                                                                        <a href="#">
                                                                            {{persona_rnp.nacionalidad}}
                                                                        </a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Estado Civil</td>
                                                                    <td>
                                                                        <span ng-if="persona_rnp.estadoCivil === 'S'" class="label label-sm label-info" > SOLTERO(A)</span> 
                                                                        <span ng-if="persona_rnp.estadoCivil === 'C'" class="label label-sm label-info" > CASADO(A)</span> 
                                                                        <span ng-if="persona_rnp.estadoCivil === 'V'" class="label label-sm label-info" > VIUDO(A)</span> 
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Genero</td>
                                                                    <td>
                                                                        <span ng-if="persona_rnp.genero === 'F'" class="label label-sm label-info" > FEMENINO</span> 
                                                                        <span ng-if="persona_rnp.genero === 'M'" class="label label-sm label-info" > MASCULINO</span> 
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Estado</td>
                                                                    <td><span class="label label-sm label-info" >{{persona_rnp.estadoPersona}}(A)</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- start: FOURTH SECTION -->
</div>