<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <!--<h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>-->
            <h1 class="mainTitle" >Open Data</h1>
            <span class="mainDescription"> Datos y Estadísticas </span>
        </div>
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FORM VALIDATION -->
<br />
<div class="row" ng-controller="ngTabledatasetsCtrl">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">        
        <section class="box">

            <div class="container-fluid container-fullw bg-white">
                <div class="panel panel-white no-radius">
                    <div class="panel-heading border-light">
                        <h4 class="no-margin inline-block padding-5">Datasets<span class="block text-small text-left">Listado de Datasets</span></h4>
                    </div>
                    <div class="panel-body no-padding">

                        <div >
                            <div class="row margin-bottom-10">
                                <div class="form-group">
                                    <div class="col-md-2 pull-right">
                                        <p><strong>Registros por pagina:</strong> {{tableParams.count()}}</p>
                                    </div>
                                    <div class="col-md-1 pull-right">
                                        <p><strong>Pagina:</strong> {{tableParams.page()}}</p>
                                    </div>

                                </div>
                            </div>
                            <table ng-table="tableParams" class="table table-condensed table-hover">
                                <tbody ng-repeat="dataset in $data">
                                    <tr id="tr{{user.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'No'" sortable="'id'">{{dataset.id}}</td>
                                        <td class="rowTd" data-title="'Nombre'" sortable="'nameDataset'"><span>{{dataset.name}}</span><span class="text-small block text-light">{{dataset.name}}</span></td>
                                        <td class="rowTd" data-title="'Descripcion'" sortable="'nameDataset'"><span>{{dataset.description}}</span><span class="text-small block text-light">{{dataset.description}}</span></td>
                                        <!--<td class="rowTd" data-title="'Última actualización'" sortable="'updatedDataset'">{{dataset.updatedAt}}</td>-->                                        
                                        <td data-title="'Actions'"><div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a href="#/app/datasetviewer/{{dataset.name}}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-external-link"></i></a>
                                                <!--<a href="#" ng-click="doEdit(row.$id)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>-->
                                                <!--<a href="#" ng-click="delAction(dataset.id)"class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>-->
                                            </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>