<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="demo.WELCOME">{{ mainTitle}}</h1>
            <span class="mainDescription">Verificacion Biometrica &amp; Biografica </span>
        </div>		
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div id="data_area" ng-controller="maintCtrl">
    <div  class="container-fluid container-fullw bg-white">
        <!-- form starts -->
        <div ng-show="showForm" class="row">
            <form name="Row" id="row" novalidate ng-submit="form.submit(Row)">
                <div class="container-fluid container-fullw bg-white">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <legend>
                                    Datos de Registro
                                </legend>
                                <div class="form-group" ng-class="{'has-error':Row.full_name.$dirty && Row.full_name.$invalid, 'has-success':Row.full_name.$valid}">
                                    <label class="control-label">
                                        Name <span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Enter your Name" class="form-control" name="full_name" ng-model="rowModel.full_name" required />
                                    <span class="error text-small block" ng-if="Row.full_name.$dirty && Row.full_name.$invalid">Field is required</span>
                                    <!--<span class="success text-small" ng-if="Row.full_name.$valid">Thank You!</span>-->
                                </div>
                                <div class="form-group" ng-class="{'has-error':Row.address.$dirty && Row.address.$invalid, 'has-success':Row.address.$valid}">
                                    <label class="control-label">
                                        Address <span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Enter your Alias" class="form-control" name="address" ng-model="rowModel.address" required />
                                    <span class="error text-small block" ng-if="Row.address.$dirty && Row.address.$invalid">Field is required</span>
                                    <!--<span class="success text-small" ng-if="Row.address.$valid">Wonderful!</span>-->
                                </div>
                                <div class="form-group" ng-class="{'has-error':Row.home_phone.$dirty && Row.home_phone.$invalid, 'has-success':Row.home_phone.$valid}">
                                    <label class="control-label">
                                        Home Phone <span class="symbol required"></span>
                                    </label>
                                    <input type="tel" placeholder="Enter a phone" class="form-control" name="home_phone" ng-model="rowModel.home_phone" required>
                                    <span class="error text-small block" ng-if="Row.home_phone.$dirty && Row.home_phone.$error.required">Home phone is required.</span>
                                    <!--<span class="error text-small block" ng-if="Row.home_phone.$error.home_phone">Please, enter a valid email address.</span>-->
                                    <!--<span class="success text-small" ng-if="Row.home_phone.$valid">It's a valid e-mail!</span>-->
                                </div>
                                <div class="form-group" ng-class="{'has-error':Row.cell_phone.$dirty && Row.cell_phone.$invalid, 'has-success':Row.cell_phone.$valid}">
                                    <label class="control-label">
                                        Cell Phone <span class="symbol required"></span>
                                    </label>
                                    <input type="tel" placeholder="Enter a phone" class="form-control" name="cell_phone" ng-model="rowModel.cell_phone" required>
                                    <span class="error text-small block" ng-if="Row.cell_phone.$dirty && Row.cell_phone.$error.required">Cell phone is required.</span>
                                    <!--<span class="error text-small block" ng-if="Row.home_phone.$error.home_phone">Please, enter a valid email address.</span>-->
                                    <!--<span class="success text-small" ng-if="Row.home_phone.$valid">It's a valid e-mail!</span>-->
                                </div>
                                <div class="form-group" ng-class="{'has-error':Row.person_type.$dirty && Row.person_type.$invalid, 'has-success':Row.person_type.$valid}">
                                    <label class="control-label block">
                                        Person Type <span class="symbol required"></span>
                                    </label>
                                    <div class="clip-radio radio-primary">
                                        <input type="radio" id="wd-customer" name="person_type" value="CUSTOMER" ng-model="rowModel.person_type" required>
                                        <label for="wd-customer">
                                            Customer
                                        </label>
                                        <input type="radio" id="wd-provider" name="person_type" value="PROVIDER" ng-model="rowModel.person_type" required>
                                        <label for="wd-provider">
                                            Provider
                                        </label>
                                    </div>
                                    <span class="error text-small block" ng-if="Row.person_type.$dirty && Row.person_type.$error.required">Person type is required.</span>
                                    <!--<span class="success text-small block" ng-if="Row.person_type.$valid && form.person_type == 'male'">Thank You, Mr. {{form.address}}!</span>-->
                                    <!--<span class="success text-small block" ng-if="Row.person_type.$valid && form.person_type == 'female'">Thank You, Mrs. {{form.address}}!</span>-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Created At 
                                    </label>
                                    <input ng-init="rowModel.created_at = rowModel.created_at === null ? today : rowModel.created_at;" readonly type="datetime" placeholder="Created Date" class="form-control" name="created_at" ng-model="rowModel.created_at"/>                                    
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <a class="btn btn-wide btn-success" href="#" ng-click="saveAction()"><i class="fa fa-times fa fa-save"></i></a>
                                <a class="btn btn-wide btn-red" href="#" ng-click="cancelAction()"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- form ends -->

        <div ng-show="!showForm" class="row">
            <div class="col-md-12">                
                <div>
                    <a class="btn btn-wide btn-primary" href="#" ng-click="newAction()" ><i class="fa fa-plus"></i> Nuevo</a>
                </div>
                <!-- /// controller:  'mainCtrl' -  localtion: assets/js/controllers/maintCtrl.js /// -->
                <div style="padding-top: 10px;">
                    <p>
                        <strong>Pagina:</strong> {{tableParams.page()}} &nbsp;|&nbsp;
                        <strong>Tama&ntilde;o Pagina:</strong> {{tableParams.count()}}
                    </p>

                    <table ng-table="tableParams" class="table table-bordered table-striped table-hover">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Full Name'">{{row.full_name}}</td>
                            <td data-title="'Address'">{{row.address}}</td>
                            <td data-title="'Home Phone'">{{row.home_phone}}</td>
                            <td data-title="'Cell Phone'">{{row.home_phone}}</td>
                            <td data-title="'Person Type'">{{row.person_type}}</td>
                            <td data-title="'Actions'"><div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a href="#" ng-click="editAction(row)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                    <!--<a href="#" ng-click="doEdit(row.$id)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>-->
                                    <a href="#" ng-click="delAction(row.id)"class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>