<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="demo.WELCOME">{{ mainTitle}}</h1>
            <span class="mainDescription">Verificacion Biometrica &amp; Biografica </span>
        </div>		
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div id="data_area" ng-controller="maintCtrl">
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15">Mantenimiento</h5>
                <a class="btn btn-wide btn-primary" href="#" ng-click="newAction()" ><i class="fa fa-plus"></i> Nuevo</a>
                <!-- /// controller:  'mainCtrl' -  localtion: assets/js/controllers/maintCtrl.js /// -->
                <div>
                    <p>
                        <strong>Pagina:</strong> {{tableParams.page()}}
                    </p>
                    <p>
                        <strong>Tama&ntilde;o Pagina:</strong> {{tableParams.count()}}
                    </p>
                    <table ng-table="tableParams" class="table table-bordered table-striped table-hover">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Name'">{{row.name}}</td>
                            <td data-title="'Alias'">{{row.alias}}</td>
                            <td data-title="'Publisher'">{{row.publisher}}</td>
                            <td data-title="'Gender'">{{row.gender}}</td>
                            <td data-title="'Actions'"><div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>
                                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>